<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
  </head>
  <body>
    <h1>Change a Tokimon</h1>
    <table id = "tokimon_table">
        <tr>
          <th>Tokimon ID</th>
          <th>Name</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Fire</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Frozen</th>
          <th>Total</th>
          <th>Trainer</th>
        </tr>
        <% rows.forEach((r) => { %>
          <tr>
            <td> <%= r.tokimonid %> </td>
            <td> <%= r.name %> </td>
            <td> <%= r.weight %> </td>
            <td> <%= r.height %> </td>
            <td> <%= r.fly %> </td>
            <td> <%= r.fight %> </td>
            <td> <%= r.fire %> </td>
            <td> <%= r.water %> </td>
            <td> <%= r.electric %> </td>
            <td> <%= r.frozen %> </td>
            <td> <%= r.total %> </td>
            <td> <%= r.trainer %> </td>
          </tr>
        <% }) %>
    </table>
    <form class="" action="/changed" method="post">
        <input id ="changeID" type="number" min="1" name="tokimonid" placeholder="Enter the Tokimon ID of the Tokimon to Change" required>
        <input id ="newName" type="text" name="name" placeholder="New Name" required>
        <input id ="newWeight" type="number" min="0" name="weight" placeholder="New Weight" required>
        <input id ="newHeight" type="number" min="0" name="height" placeholder="New Height" required>
        <input id ="newFly" type="number" min="0" name="fly" placeholder="New Fly Value " required>
        <input id ="newFight" type="number" min="0" name="fight" placeholder="New Fight Value" required>
        <input id ="newFire" type="number" min="0" name="fire" placeholder="New Fire Value" required>
        <input id ="newWater" type="number" min="0" name="water" placeholder="New Water Value" required>
        <input id ="newElectric" type="number" min="0" name="electric" placeholder="New Electric Value" required>
        <input id ="newFrozen" type="number" min="0" name="frozen" placeholder="New Frozen Value" required>
        <input id ="newTrainer" type="text" name="trainer" placeholder="New Trainer" required>
        <input type="submit" name="" value="Change Tokimon">
    </form> 
    <button type="button" id ="home" onclick="window.location.href = '../../../';">Home</button>
    <!-- <button type="button" id ="add">Add a Tokimon</button>
    <button type="button" id ="delete">Delete a Tokimon</button>
    <button type="button" id ="display">Display a Tokimon</button>
    <button type="button" id ="all">See All Tokimon</button>   -->
  </body>
</html>