<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../public/js/script.js" defer></script>
  </head>
  <body>
    <script src="../public/js/script.js" defer></script>
    <h1>Delete a Tokimon</h1>

    <!-- <form class="deleteTable" action="/deleted" method="post">
      <table id = "tokimon_table">
          <tr>
            <th>Delete?</th>
            <th>Tokimon ID</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Fly</th>
            <th>Fight</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Electric</th>
            <th>Frozen</th>
            <th>Total</th>
            <th>Trainer</th>
          </tr>
          <% rows.forEach((r) => { %>
            <tr>
              <td><input type="checkbox" id ="<%= r.tokimonid %>Check" name="delete"></td>
              <td> <%= r.tokimonid %> </td>
              <td> <%= r.name %> </td>
              <td> <%= r.weight %> </td>
              <td> <%= r.height %> </td>
              <td> <%= r.fly %> </td>
              <td> <%= r.fight %> </td>
              <td> <%= r.fire %> </td>
              <td> <%= r.water %> </td>
              <td> <%= r.electric %> </td>
              <td> <%= r.frozen %> </td>
              <td> <%= r.total %> </td>
              <td> <%= r.trainer %> </td>
            </tr>
          <% }) %>
      </table>
      <input type="submit" name="" value="Delete Selected Tokimon">
    </form> -->


    <table id = "tokimon_table">
            <tr>
              <!-- <th>Delete?</th> -->
              <th>Tokimon ID</th>
              <th>Name</th>
              <th>Weight</th>
              <th>Height</th>
              <th>Fly</th>
              <th>Fight</th>
              <th>Fire</th>
              <th>Water</th>
              <th>Electric</th>
              <th>Frozen</th>
              <th>Total</th>
              <th>Trainer</th>
            </tr>
            <% rows.forEach((r) => { %>
              <tr>
                <!-- <td><input type="checkbox" id ="<%= r.tokimonid %>Check" name="delete" value=""></td> -->
                <td> <%= r.tokimonid %> </td>
                <td> <%= r.name %> </td>
                <td> <%= r.weight %> </td>
                <td> <%= r.height %> </td>
                <td> <%= r.fly %> </td>
                <td> <%= r.fight %> </td>
                <td> <%= r.fire %> </td>
                <td> <%= r.water %> </td>
                <td> <%= r.electric %> </td>
                <td> <%= r.frozen %> </td>
                <td> <%= r.total %> </td>
                <td> <%= r.trainer %> </td>
              </tr>
            <% }) %>
        </table>

    <form class="" action="/deleted" method="post">
      <input id ="deleteID" type="number" name="tokimonid" placeholder="Enter the Tokimon ID of the Tokimon to Delete">
      <input type="submit" name="tokimonDelete" value="Delete Tokimon">
  </form> 

    <button type="button" id ="add">Add a Tokimon</button>
    <button type="button" id ="change">Change a Tokimon</button>
    <button type="button" id ="display">Display a Tokimon</button>
    <button type="button" id ="all">See All Tokimon</button>

     <!-- <script>
        var deleteTokimon = document.getElementById('deleteBTN');
        deleteTokimon.onclick = function() {                      
            var table = document.getElementById("tokimon_table");   
            for (var i = 1, row; row = table.rows[i]; i++) {  
              
              var tokimonID = parseInt(row.cells[1].innerHTML);      
              var checkBox = document.getElementById(tokimonID + "Check");                
              if (checkBox.checked == true){                      
                  console.log(tokimonID); 
              }                                                   
            }                                                    
        } 
     </script> -->
    

  </body>
</html>