<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
  </head>
  <body>
    <H1>Tokimon Database</H1>
    <table id = "tokimon_table">
      <tr>
        <th>Tokimon ID</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Fly</th>
        <th>Fight</th>
        <th>Fire</th>
        <th>Water</th>
        <th>Electric</th>
        <th>Frozen</th>
        <th>Total</th>
        <th>Trainer</th>
      </tr>
      <% rows.forEach((r) => { %>
        <tr>
          <td> <%= r.tokimonid %> </td>
          <td> <%= r.name %> </td>
          <td> <%= r.weight %> </td>
          <td> <%= r.height %> </td>
          <td> <%= r.fly %> </td>
          <td> <%= r.fight %> </td>
          <td> <%= r.fire %> </td>
          <td> <%= r.water %> </td>
          <td> <%= r.electric %> </td>
          <td> <%= r.frozen %> </td>
          <td> <%= r.total %> </td>
          <td> <%= r.trainer %> </td>
        </tr>
      <% }) %>
  </table>
    <button type="button" id ="add">Add a Tokimon</button>
    <button type="button" id ="change">Change a Tokimon</button>
    <button type="button" id ="delete">Delete a Tokimon</button>
    <button type="button" id ="display">Display a Tokimon</button>
    <button type="button" id ="all">See All Tokimon</button>
  </body>
</html>