<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>More Tokimon Info</title>
  <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
  <% rows.forEach((r) => { %>
    <style>
         #fly {
            color: black;
            float: left;
            margin: 1%;
            background-color: grey;
            height: <%= ((r.fly /  r.total) * 100).toFixed(1) %>%; 
         }   
         #fight{
            color: black;
            float: left;
            margin: 1%;
            background-color: purple;
            height: <%= ((r.fight /  r.total) * 100).toFixed(1) %>%; 
         } 
         #fire {
            color: black;
            float: left;
            margin: 1%;
            background-color: red;
            height: <%= ((r.fire/  r.total) * 100).toFixed(1) %>%; 
         } 
         #water {
            color: black;
            float: left;
            margin: 1%;
            background-color: rgb(131, 131, 235);
            height: <%= ((r.water/  r.total) * 100).toFixed(1) %>%; 
         } 
         #electric {
            color: black;
            float: left;
            margin: 1%;
            background-color:yellow;
            height: <%= ((r.electric /  r.total) * 100).toFixed(1) %>%; 
         } 
         #frozen {
            color: black;
            float: left;
            margin: 1%;
            background-color: rgb(148, 172, 230);
            height: <%= ((r.frozen /  r.total) * 100).toFixed(1) %>%; 
         } 
         
    </style>
   <% }) %>
  </head>
  <body>
      <div class = "topnav">
          <a href="../">Home</a>
          <a href="../add">Add a Tokimon</a>
          <a href="../change">Change a Tokimon</a>
          <a href="../delete">Delete a Tokimon</a>
          <a href="../info">Tokimon Info</a>
          <a href="../tokimon">See All Tokimon</a>
          <a href="../size">See Tokimon Sizes</a>
          <a href="../sort">Order the Tokimon by Ability/Attributes</a>
          <div>
              <a style="float: right; padding-right: 1%; color: #f2f2f2;" href="https://github.com/colinkwok/tokimon">Created By Colin K.</a>
          </div>
      </div>
      <h1>Specific Tokimon Info</h1>
      <table id = "tokimon_table">
          <tr>
            <th>Tokimon ID</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Fly</th>
            <th>Fight</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Electric</th>
            <th>Frozen</th>
            <th>Total</th>
            <th>Trainer</th>
          </tr>
          <% rows.forEach((r) => { %>
            <tr>
                <td> <%= r.tokimonid %> </td>
                <td> <%= r.name %> </td>
                <td> <%= r.weight %> </td>
                <td> <%= r.height %> </td>
                <td> <%= r.fly %> </td>
                <td> <%= r.fight %> </td>
                <td> <%= r.fire %> </td>
                <td> <%= r.water %> </td>
                <td> <%= r.electric %> </td>
                <td> <%= r.frozen %> </td>
                <td> <%= r.total %> </td>
                <td> <%= r.trainer %> </td>
            </tr>
          <% }) %>
      </table>
      <h2>
        Chart for Ability Percentages
      </h2>
      <div id = "chart">
        <% rows.forEach((r) => { %>
          <div id = "fly">
            <p>
                <%= ((r.fly /  r.total) * 100).toFixed(1) %>%
                <br>Fly
            </p>
          </div>
          <div id= "fight">
            <p>
                <%= ((r.fight /  r.total) * 100).toFixed(1) %>%
                <br>Fight
            </p>
            
          </div>
          <div id= "fire">
            <p>
                <%= ((r.fire /  r.total) * 100).toFixed(1) %>%
                <br>Fire
            </p>
          </div>
          <div id= "water">
            <p>
                <%= ((r.water /  r.total) * 100).toFixed(1) %>%
                <br>Water
            </p>
          </div>
          <div id= "electric">
            <p>
                <%= ((r.electric /  r.total) * 100).toFixed(1) %>%
                <br>Electric
            </p>
          </div>
          <div id= "frozen">
            <p>
                <%= ((r.frozen /  r.total) * 100).toFixed(1) %>%
                <br>Frozen
            </p>
          </div>
        <% }) %>
      </div>
      <!-- <button type="button" id ="home" onclick="window.location.href = './';">Home</button> -->
      <!-- <button type="button" id ="display" onclick="window.location.href = '../info';">Back to Display Tokimon Info Page</button> -->
  </body>
</html>