<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
    <% rows.forEach((r) => { %>
      <style>
           #ID<%= r.tokimonid %> {
              color: red;
              /* float: left; */
              margin: 5%;
              background-color: black;
              width: <%= r.weight %>px;
              height: <%= r.height %>px; 
              max-width: 80%;
              max-height: 80%;
              display: inline-flex;
              align-items: flex-end;
              justify-content: center;
           }  
           #P<%= r.tokimonid %> {
            text-align: center;
           }  
      </style>
     <% }) %>
  </head>
  <body>
      <div class = "topnav">
          <a href="./">Home</a>
          <a href="./add">Add a Tokimon</a>
          <a href="./change">Change a Tokimon</a>
          <a href="./delete">Delete a Tokimon</a>
          <a href="./info">Tokimon Info</a>
          <a href="./tokimon">See All Tokimon</a>
          <a href="./size">See Tokimon Sizes</a>
          <a href="./sort">Order the Tokimon by Ability/Attributes</a>
          <div>
              <a style="float: right; padding-right: 1%; color: #f2f2f2;" href="https://github.com/colinkwok/tokimon">Created By Colin K.</a>
          </div>
      </div>
      <h1>Tokimon Sizes</h1>
        <div id = "tokimon_sizes">
          <% rows.forEach((r) => { %>
           <div id = "ID<%= r.tokimonid %>" >
             <p id = "P<%= r.tokimonid %>"> 
                ID: <%= r.tokimonid %>
                <br> <%= r.name %>  
                <% if (r.height >= 1151) { %>
                  <br>Tokimon is very tall and is not shown to scale
                  
                <%  } %>
                <%  if (r.height >= 684) { %>
                <br> Tokimon is very heavy and is not shown to scale
                <%  } %>
             </p>
           </div>
          <% }) %>
        </div>
        <!-- <button type="button" id ="home" onclick="window.location.href = './';">Home</button> -->
  </body>
</html>