<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
  </head>
  <body>
    <body>
      <h1>Compare Tokimon</h1>
      <h2>Order the Tokimon in ascending order by Weight, Height, Fly, Fight, Fire, Water, Electric, Frozen, or Total Values!</h2>
      <table id = "tokimon_table">
          <tr>
            <th>Tokimon ID</th>
            <th>Name</th>
            <th><p><a href="./sort/weight">Weight</a></p></th>
            <th><p><a href="./sort/height">Height</a></p></th>
            <th><p><a href="./sort/fly">Fly</a></p></th>
            <th><p><a href="./sort/fight">Fight</a></p></th>
            <th><p><a href="./sort/fire">Fire</a></p></th>
            <th><p><a href="./sort/water">Water</a></p></th>
            <th><p><a href="./sort/electric">Electric</a></p></th>
            <th><p><a href="./sort/frozen">Frozen</a></p></th>
            <th><p><a href="./sort/total">Total</a></p></th>
            <th>Trainer</th>
          </tr>
          <% rows.forEach((r) => { %>
            <tr>
              <td> <%= r.tokimonid %> </td>
              <td> <%= r.name %> </td>
              <td> <%= r.weight %> </td>
              <td> <%= r.height %> </td>
              <td> <%= r.fly %> </td>
              <td> <%= r.fight %> </td>
              <td> <%= r.fire %> </td>
              <td> <%= r.water %> </td>
              <td> <%= r.electric %> </td>
              <td> <%= r.frozen %> </td>
              <td> <%= r.total %> </td>
              <td> <%= r.trainer %> </td>
            </tr>
          <% }) %>
      </table>
  </body>
  </body>
</html>