<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/styles.css" />
  </head>
  <body>
      <div class = "topnav">
          <a href="./">Home</a>
          <a href="./add">Add a Tokimon</a>
          <a href="./change">Change a Tokimon</a>
          <a href="./delete">Delete a Tokimon</a>
          <a href="./info">Tokimon Info</a>
          <a href="./tokimon">See All Tokimon</a>
          <a href="./size">See Tokimon Sizes</a>
          <a href="./sort">Order the Tokimon by Ability/Attributes</a>
          <div>
              <a style="float: right; padding-right: 1%; color: #f2f2f2;" href="https://github.com/colinkwok/tokimon">Created By Colin K.</a>
          </div>
        </div>
      <h1>All Tokimon</h1>
      <table id = "tokimon_table">
          <tr>
            <th>Tokimon ID</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Fly</th>
            <th>Fight</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Electric</th>
            <th>Frozen</th>
            <th>Total</th>
            <th>Trainer</th>
          </tr>
          <% rows.forEach((r) => { %>
            <tr>
              <td> <%= r.tokimonid %> </td>
              <td> <%= r.name %> </td>
              <td> <%= r.weight %> </td>
              <td> <%= r.height %> </td>
              <td> <%= r.fly %> </td>
              <td> <%= r.fight %> </td>
              <td> <%= r.fire %> </td>
              <td> <%= r.water %> </td>
              <td> <%= r.electric %> </td>
              <td> <%= r.frozen %> </td>
              <td> <%= r.total %> </td>
              <td> <%= r.trainer %> </td>
            </tr>
          <% }) %>
      </table>
      <!-- <button type="button" id ="home" onclick="window.location.href = './';">Home</button> -->
 
  </body>
</html>