<html>

<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 15px;
      text-align: left;
    }
    table {
      border-collapse: collapse;
    }
  </style>
</head>

<body>
    <h1>Tokimon</h1>
    <table id = "tokimon_table">
        <tr>
          <th>Name</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Fly</th>
          <th>Fight</th>
          <th>Fire</th>
          <th>Water</th>
          <th>Electric</th>
          <th>Frozen</th>
          <th>Total</th>
          <th>Trainer</th>
        </tr>
        <% rows.forEach((r) => { %>
          <tr>
            <td> <%= r.name %> </td>
            <td> <%= r.weight %> </td>
            <td> <%= r.height %> </td>
            <td> <%= r.fly %> </td>
            <td> <%= r.fight %> </td>
            <td> <%= r.fire %> </td>
            <td> <%= r.water %> </td>
            <td> <%= r.electric %> </td>
            <td> <%= r.frozen %> </td>
            <td> <%= r.total %> </td>
            <td> <%= r.trainer %> </td>
          </tr>
        <% }) %>
    </table>
</body>



</html>